<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.seasar.sastrutsplugin.viewerContribution.OpenJsp"
            targetID="#CompilationUnitEditorContext">
         <action
               class="org.seasar.sastrutsplugin.action.OpenJspAction"
               definitionId="org.seasar.sastrutsplugin.command.OpenJsp"
               id="org.seasar.sastrutsplugin.action.OpenJsp"
               label="%JSPFileOpenAction.label"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.seasar.sastrutsplugin.viewerContribution.OpenJava"
            targetID="org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext">
         <action
               class="org.seasar.sastrutsplugin.action.OpenJavaAction"
               definitionId="org.seasar.sastrutsplugin.command.OpenJava"
               id="org.seasar.sastrutsplugin.action.OpenJava"
               label="%JavaFileOpenAction.label"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.sastrutsplugin.objectContribution.ViewOnServer"
            nameFilter="*Action.java"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.sastrutsplugin.menu"
               label="SAStruts"
               path="additions">
         </menu>
         <action
               class="org.seasar.sastrutsplugin.action.ViewOnServerAction"
               definitionId="org.seasar.sastrutsplugin.command.ViewOnServer"
               enablesFor="1"
               icon="icons/browser.gif"
               id="org.seasar.sastrutsplugin.object.ViewOnServerAction"
               label="View on Server"
               menubarPath="org.seasar.sastrutsplugin.menu/additions"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.seasar.sastrutsplugin.objectContribution.ViewSAStrutsHelp"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.seasar.sastrutsplugin.menu"
               label="SAStruts"
               path="additions2">
         </menu>
         <action
               class="org.seasar.sastrutsplugin.action.ViewSAStrutsHelpAction"
               definitionId="org.seasar.sastrutsplugin.command.ViewSAStrutsHelp"
               enablesFor="1"
               icon="icons/help_contents.gif"
               id="org.seasar.sastrutsplugin.object.ViewSAStrutsHelpAction"
               label="View SAStruts Help"
               menubarPath="org.seasar.sastrutsplugin.menu/additions2"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.seasar.sastrutsplugin.category"
            name="SAStruts Plugin">
      </category>
      <command
            categoryId="org.seasar.sastrutsplugin.category"
            id="org.seasar.sastrutsplugin.command.OpenJsp"
            name="%JSPFileOpenAction.label">
      </command>
      <command
            categoryId="org.seasar.sastrutsplugin.category"
            id="org.seasar.sastrutsplugin.command.OpenJava"
            name="%JavaFileOpenAction.label">
      </command>
      <command
            categoryId="org.seasar.sastrutsplugin.category"
            id="org.seasar.sastrutsplugin.command.ViewOnServer"
            name="View on Server">
      </command>
      <command
            categoryId="org.seasar.sastrutsplugin.category"
            id="org.seasar.sastrutsplugin.command.ViewSAStrutsHelp"
            name="View SAStruts Help">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.seasar.sastrutsplugin.command.OpenJsp"
            contextId="org.eclipse.jdt.ui.javaEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="org.seasar.sastrutsplugin.command.OpenJava"
            contextId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="org.seasar.sastrutsplugin.command.ViewOnServer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            commandId="org.seasar.sastrutsplugin.command.ViewSAStrutsHelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F9">
      </key>
      <key
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F10">
      </key>
      <key
            platform="carbon"
            commandId="org.seasar.sastrutsplugin.command.ViewOnServer"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F9">
      </key>
      <key
            platform="carbon"
            commandId="org.seasar.sastrutsplugin.command.ViewSAStrutsHelp"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F10">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.seasar.sastrutsplugin.editorContribution.OpenJsp"
            targetID="org.eclipse.jdt.ui.CompilationUnitEditor">
         <action
               class="org.seasar.sastrutsplugin.action.OpenJspAction"
               definitionId="org.seasar.sastrutsplugin.command.OpenJsp"
               id="org.seasar.sastrutsplugin.action.OpenJspAction"
               label="%JSPFileOpenAction.label">
         </action>
      </editorContribution>
      <editorContribution
            id="org.seasar.sastrutsplugin.editorContribution.OpenJava"
            targetID="org.eclipse.wst.sse.ui.StructuredTextEditor.EditorContext">
         <action
               class="org.seasar.sastrutsplugin.action.OpenJavaAction"
               definitionId="org.seasar.sastrutsplugin.command.OpenJava"
               id="org.seasar.sastrutsplugin.action.OpenJavaAction"
               label="%JavaFileOpenAction.label">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.seasar.sastrutsplugin.preference.SAStrutsPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.seasar.sastrutsplugin.property.SAStrutsPropertyPage"
            id="org.seasar.sastrutsplugin.property.SAStrutsPropertyPage"
            name="%plugin.brand"
            objectClass="org.eclipse.core.resources.IProject">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.seasar.sastrutsplugin.actionSet.OpenJava"
            label="%JavaFileOpenAction.label"
            visible="true">
         <action
               class="org.seasar.sastrutsplugin.action.OpenJavaAction"
               definitionId="org.seasar.sastrutsplugin.command.OpenJava"
               id="org.seasar.sastrutsplugin.action.OpenJavaAction"
               label="%JavaFileOpenAction.label">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
      <sourceViewerConfiguration
            class="org.seasar.sastrutsplugin.ui.editor.configuration.JSPConfiguration"
            target="org.eclipse.jst.jsp.core.jspsource.source">
      </sourceViewerConfiguration>
   </extension>



</plugin>
